.composer {
    overflow: hidden;
}

.container {
    display: flex;
}

.rail {
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar {
    display: block;
    text-decoration: none !important;
}

.avatar>:global(.avatar) {
    display: block;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    font: inherit;
    font-size: 1.3rem;
    border: none;
    outline: 0;
    resize: none;
    background: transparent;
}

.controls {
    text-align: right;
}