---
http_interactions:
- request:
    method: get
    uri: https://tenor.googleapis.com/v2/featured?key=<TENOR_API_KEY>&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "locale": "en",
          "results": [
            {
              "id": "7630422452728463988",
              "title": "",
              "media_formats": {
                "tinywebm": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAP3/celebrate-freedom-juneteenth-juneteenth.webm",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    320,
                    320
                  ],
                  "size": 75901
                },
                "nanogif": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAAS/celebrate-freedom-juneteenth-juneteenth.gif",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    90,
                    90
                  ],
                  "size": 39360
                },
                "nanogifpreview": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAAT/celebrate-freedom-juneteenth-juneteenth.png",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    90,
                    90
                  ],
                  "size": 3356
                },
                "webp": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAAx/celebrate-freedom-juneteenth-juneteenth.webp",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    498,
                    498
                  ],
                  "size": 443394
                },
                "tinygif": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAAM/celebrate-freedom-juneteenth-juneteenth.gif",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    220,
                    220
                  ],
                  "size": 149359
                },
                "webm": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAPs/celebrate-freedom-juneteenth-juneteenth.webm",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    498,
                    498
                  ],
                  "size": 78536
                },
                "nanowebm": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAP4/celebrate-freedom-juneteenth-juneteenth.webm",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    150,
                    150
                  ],
                  "size": 30720
                },
                "mediumgif": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAAd/celebrate-freedom-juneteenth-juneteenth.gif",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    498,
                    498
                  ],
                  "size": 837438
                },
                "nanomp4": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAP2/celebrate-freedom-juneteenth-juneteenth.mp4",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    150,
                    150
                  ],
                  "size": 12968
                },
                "mp4": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAPo/celebrate-freedom-juneteenth-juneteenth.mp4",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    498,
                    498
                  ],
                  "size": 83826
                },
                "tinymp4": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAP1/celebrate-freedom-juneteenth-juneteenth.mp4",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    320,
                    320
                  ],
                  "size": 49135
                },
                "gifpreview": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAAe/celebrate-freedom-juneteenth-juneteenth.png",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    498,
                    498
                  ],
                  "size": 32843
                },
                "gif": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAAC/celebrate-freedom-juneteenth-juneteenth.gif",
                  "duration": 3,
                  "preview": "",
                  "dims": [
                    498,
                    498
                  ],
                  "size": 1079732
                },
                "loopedmp4": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAPw/celebrate-freedom-juneteenth-juneteenth.mp4",
                  "duration": 9,
                  "preview": "",
                  "dims": [
                    498,
                    498
                  ],
                  "size": 240166
                },
                "tinygifpreview": {
                  "url": "https://media.tenor.com/aeS0ywULgnQAAAAN/celebrate-freedom-juneteenth-juneteenth.png",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    220,
                    220
                  ],
                  "size": 10571
                }
              },
              "created": 1718320554.7857449,
              "content_description": "Celebrate Freedom Juneteenth June 19 GIF",
              "itemurl": "https://tenor.com/view/celebrate-freedom-juneteenth-juneteenth-june-19-june-nineteenth-happy-juneteenth-gif-7630422452728463988",
              "url": "https://tenor.com/jfPzWrH96Hg.gif",
              "tags": [
                "celebrate freedom juneteenth",
                "juneteenth",
                "june 19",
                "june nineteenth",
                "happy juneteenth",
                "liberty",
                "emancipation day",
                "tenor"
              ],
              "flags": [],
              "hasaudio": false
            },
            {
              "id": "15814788093566829488",
              "title": "",
              "media_formats": {
                "mediumgif": {
                  "url": "https://media.tenor.com/23lp-xMgw7AAAAAd/happy-juneteenth-juneteenth.gif",
                  "duration": 3.6,
                  "preview": "",
                  "dims": [
                    498,
                    498
                  ],
                  "size": 2528597
                },
         [...]
