---
http_interactions:
- request:
    method: get
    uri: https://tenor.googleapis.com/v2/search?key=<TENOR_API_KEY>&limit=10&q=grogu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "results": [
            {
              "id": "6332922361306850765",
              "title": "",
              "media_formats": {
                "tinygif": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAAM/baby-yoda-the-mandalorian.gif",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    220,
                    187
                  ],
                  "size": 358160
                },
                "gifpreview": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAAe/baby-yoda-the-mandalorian.png",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    640,
                    544
                  ],
                  "size": 176219
                },
                "tinywebm": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAP3/baby-yoda-the-mandalorian.webm",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    258,
                    218
                  ],
                  "size": 57619
                },
                "nanomp4": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAP2/baby-yoda-the-mandalorian.mp4",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    134,
                    114
                  ],
                  "size": 66147
                },
                "nanogif": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAAS/baby-yoda-the-mandalorian.gif",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    106,
                    90
                  ],
                  "size": 83113
                },
                "tinygifpreview": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAAF/baby-yoda-the-mandalorian.png",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    220,
                    187
                  ],
                  "size": 22817
                },
                "nanowebm": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAP4/baby-yoda-the-mandalorian.webm",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    134,
                    114
                  ],
                  "size": 44501
                },
                "gif": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAAC/baby-yoda-the-mandalorian.gif",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    498,
                    423
                  ],
                  "size": 3733761
                },
                "webp": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAAx/baby-yoda-the-mandalorian.webp",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    498,
                    423
                  ],
                  "size": 552718
                },
                "mp4": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAPo/baby-yoda-the-mandalorian.mp4",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    640,
                    544
                  ],
                  "size": 1120734
                },
                "webm": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAPs/baby-yoda-the-mandalorian.webm",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    640,
                    544
                  ],
                  "size": 250768
                },
                "mediumgif": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAAd/baby-yoda-the-mandalorian.gif",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    640,
                    544
                  ],
                  "size": 5314122
                },
                "loopedmp4": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAPo/baby-yoda-the-mandalorian.mp4",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    640,
                    544
                  ],
                  "size": 1120734
                },
                "tinymp4": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAP1/baby-yoda-the-mandalorian.mp4",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    258,
                    218
                  ],
                  "size": 170937
                },
                "nanogifpreview": {
                  "url": "https://media.tenor.com/V-MPVZfSpc0AAAAT/baby-yoda-the-mandalorian.png",
                  "duration": 1.7,
                  "preview": "",
                  "dims": [
                    106,
                    90
                  ],
                  "size": 5668
                }
              },
              "created": 1606083814.2962811,
              "content_description": "Baby Yoda The Mandalorian GIF",
              "itemurl": "https://tenor.com/view/baby-yoda-the-mandalorian-party-time-partying-hard-party-on-gif-19295406",
              "url": "https://tenor.com/bs7Mo.gif",
              "tags": [
                "Baby Yoda",
                "The Mandalorian",
                "Party Time",
                "Partying Hard",
                "Party On",
                "dancing",
                "Hands Up",
                "Having Fun",
                "Having A Good Time",
                "Having A Blast",
                "yes",
                "excited",
                "yas",
                "Oh Yeah",
                "whee",
                "happy",
                "cute",
                "adorable",
                "disney",
                "Sci Fi"
              ],
              "flags": [],
              "hasaudio": false
            },
            {
              "id": "13755802869895354219",
              "title": "",
              "media_formats": {
                "nanogifpreview": {
                  "url": "https://media.tenor.com/vuZt1CxpV2sAAAAT/grogu-star-wars.png",
                  "duration": 1.2,
                  "preview": "",
                  "dims": [
                    160,
                    90
                  ],
                  "size": 8114
                },
                "nan[...]
