---
http_interactions:
- request:
    method: get
    uri: https://tenor.googleapis.com/v2/search?key=<TENOR_API_KEY>&limit=10&q=Let%E2%80%99s+get+down+to+business
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "results": [
            {
              "id": "7530493414911561660",
              "title": "",
              "media_formats": {
                "tinymp4": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAP1/defeatthehuns-letsgetdowntobusiness.mp4",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    320,
                    166
                  ],
                  "size": 33680
                },
                "nanogif": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAS/defeatthehuns-letsgetdowntobusiness.gif",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    174,
                    90
                  ],
                  "size": 42177
                },
                "tinywebm": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAP3/defeatthehuns-letsgetdowntobusiness.webm",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    320,
                    166
                  ],
                  "size": 40593
                },
                "nanowebm": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAP4/defeatthehuns-letsgetdowntobusiness.webm",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    150,
                    78
                  ],
                  "size": 17299
                },
                "mediumgif": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAd/defeatthehuns-letsgetdowntobusiness.gif",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    498,
                    259
                  ],
                  "size": 233637
                },
                "webp_transparent": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAl/defeatthehuns-letsgetdowntobusiness.webp",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    498,
                    259
                  ],
                  "size": 68792
                },
                "webppreview_transparent": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAt/defeatthehuns-letsgetdowntobusiness.webp",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    498,
                    259
                  ],
                  "size": 6618
                },
                "nanowebppreview_transparent": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAv/defeatthehuns-letsgetdowntobusiness.webp",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    90,
                    47
                  ],
                  "size": 542
                },
                "loopedmp4": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAPw/defeatthehuns-letsgetdowntobusiness.mp4",
                  "duration": 6,
                  "preview": "",
                  "dims": [
                    498,
                    260
                  ],
                  "size": 184194
                },
                "tinygif": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAM/defeatthehuns-letsgetdowntobusiness.gif",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    220,
                    115
                  ],
                  "size": 74479
                },
                "gif": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAC/defeatthehuns-letsgetdowntobusiness.gif",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    498,
                    259
                  ],
                  "size": 301962
                },
                "webm": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAPs/defeatthehuns-letsgetdowntobusiness.webm",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    498,
                    259
                  ],
                  "size": 55112
                },
                "tinywebppreview_transparent": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAu/defeatthehuns-letsgetdowntobusiness.webp",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    200,
                    104
                  ],
                  "size": 1874
                },
                "nanowebp_transparent": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAn/defeatthehuns-letsgetdowntobusiness.webp",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    90,
                    47
                  ],
                  "size": 6106
                },
                "mp4": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAPo/defeatthehuns-letsgetdowntobusiness.mp4",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    498,
                    260
                  ],
                  "size": 65483
                },
                "tinywebp_transparent": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAm/defeatthehuns-letsgetdowntobusiness.webp",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    200,
                    104
                  ],
                  "size": 19546
                },
                "gifpreview": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAe/defeatthehuns-letsgetdowntobusiness.png",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    498,
                    259
                  ],
                  "size": 45849
                },
                "tinygifpreview": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAN/defeatthehuns-letsgetdowntobusiness.png",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    220,
                    115
                  ],
                  "size": 12866
                },
                "nanogifpreview": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAT/defeatthehuns-letsgetdowntobusiness.png",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    174,
                    90
                  ],
                  "size": 8949
                },
                "nanomp4": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAP2/defeatthehuns-letsgetdowntobusiness.mp4",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    150,
                    78
                  ],
                  "size": 12004
                },
                "webp": {
                  "url": "https://media.tenor.com/aIGv3NM4z7wAAAAx/defeatthehuns-letsgetdowntobusiness.webp",
                  "duration": 2,
                  "preview": "",
                  "dims": [
                    498,
                    260
                  ],
                  "size": 65360
                }
              },
              "created": 1701384586.5562429,
              "content_description": "a cartoon of a man holding a stick with the words `` lets get down to business '' written on it .",
              "itemurl": "https://tenor.com/view/defeatthehuns-letsgetdowntobusiness-mulan-gif-7530493414911561660",
              "url": "https://tenor.com/i8rT1HgnUAG.gif",
              "tags": [
                "defeatthehuns",
                "letsgetdowntobusiness",
                "mulan"
              ],
              "flags": [],
              "hasaudio": false,
              "content_description_source": "GENERATIVE_AI"
            },
            {
              "id": "17574593711344613523",
              "title": "a",
              "media_formats": {
                "webppreview_transparent": {
                  "url": "https://media.tenor.com/8-V_3cSCeJMAAAAt/lets-get-down-to-business-mulan.webp",
                  "duration": 0,
                  "preview": "",
                  "dims": [
                    498,
                    296
                  ],
                  "size": 5320
   [...]
