---
http_interactions:
- request:
    method: get
    uri: https://api.figma.com/v1/files/LatexK446J8mGtPFbySaOe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - Bearer <FIGMA_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"document":{"id":"0:0","name":"Document","type":"DOCUMENT","scrollBehavior":"SCROLLS","children":[{"id":"0:1","name":"Page
        1","type":"CANVAS","scrollBehavior":"SCROLLS","children":[{"id":"1:2","name":"Frame
        1","type":"FRAME","scrollBehavior":"SCROLLS","blendMode":"PASS_THROUGH","children":[{"id":"1:4","name":"welcome
        2 campsite","type":"TEXT","scrollBehavior":"SCROLLS","blendMode":"PASS_THROUGH","absoluteBoundingBox":{"x":-280.0,"y":-165.0,"width":447.0,"height":58.0},"absoluteRenderBounds":{"x":-282.156250,"y":-154.9531250,"width":447.2343750,"height":44.3906250},"constraints":{"vertical":"TOP","horizontal":"LEFT"},"fills":[{"blendMode":"NORMAL","type":"SOLID","color":{"r":1.0,"g":0.0,"b":0.0,"a":1.0}}],"strokes":[],"strokeWeight":1.0,"strokeAlign":"OUTSIDE","effects":[],"characters":"welcome
        2 campsite","style":{"fontFamily":"Irish Grover","fontPostScriptName":"IrishGrover-Regular","fontWeight":400,"textAutoResize":"WIDTH_AND_HEIGHT","fontSize":48.0,"textAlignHorizontal":"LEFT","textAlignVertical":"TOP","letterSpacing":0.0,"lineHeightPx":58.031250,"lineHeightPercent":100.0,"lineHeightUnit":"INTRINSIC_%"},"layoutVersion":4,"characterStyleOverrides":[],"styleOverrideTable":{},"lineTypes":["NONE"],"lineIndentations":[0]},{"id":"1:5","name":"Rectangle
        1","type":"VECTOR","scrollBehavior":"SCROLLS","blendMode":"PASS_THROUGH","absoluteBoundingBox":{"x":-339.0,"y":-9.0,"width":268.0,"height":71.0},"absoluteRenderBounds":{"x":-339.0,"y":-9.0,"width":268.0,"height":71.0},"constraints":{"vertical":"TOP","horizontal":"LEFT"},"fills":[{"blendMode":"NORMAL","type":"SOLID","color":{"r":0.78358334302902222,"g":1.0,"b":0.77916663885116577,"a":1.0}}],"strokes":[],"strokeWeight":1.0,"strokeAlign":"INSIDE","effects"[...]
