---
http_interactions:
- request:
    method: get
    uri: https://api.figma.com/v1/files/LatexK446J8mGtPFbySaOe/nodes?ids=1%3A2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - Bearer <FIGMA_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Untitled (Copy) (Copy)","lastModified":"2023-09-28T21:38:52Z","thumbnailUrl":"https://s3-alpha.figma.com/thumbnails/fe29dc65-6b01-4b7d-bc6e-b2d529db5e29?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQ4GOSFWCZDMGHAUS%2F20230928%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230928T000000Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=03f43889b8902c23732fd41db28a1309be002dc429a7afdac563b2ad075583ab","version":"4245308843","role":"owner","editorType":"figma","linkAccess":"inherit","nodes":{"1:2":{"document":{"id":"1:2","name":"Frame
        1","type":"FRAME","scrollBehavior":"SCROLLS","blendMode":"PASS_THROUGH","children":[{"id":"1:4","name":"welcome
        2 campsite","type":"TEXT","scrollBehavior":"SCROLLS","blendMode":"PASS_THROUGH","absoluteBoundingBox":{"x":-280.0,"y":-165.0,"width":447.0,"height":58.0},"absoluteRenderBounds":{"x":-282.156250,"y":-154.9531250,"width":447.2343750,"height":44.3906250},"constraints":{"vertical":"TOP","horizontal":"LEFT"},"fills":[{"blendMode":"NORMAL","type":"SOLID","color":{"r":1.0,"g":0.0,"b":0.0,"a":1.0}}],"strokes":[],"strokeWeight":1.0,"strokeAlign":"OUTSIDE","effects":[],"characters":"welcome
        2 campsite","style":{"fontFamily":"Irish Grover","fontPostScriptName":"IrishGrover-Regular","fontWeight":400,"textAutoResize":"WIDTH_AND_HEIGHT","fontSize":48.0,"textAlignHorizontal":"LEFT","textAlignVertical":"TOP","letterSpacing":0.0,"lineHeightPx":58.031250,"lineHeightPercent":100.0,"lineHeightUnit":"INTRINSIC_%"},"layoutVersion":4,"characterStyleOverrides":[],"styleOverrideTable":{},"lineTypes":["NONE"],"lineIndentations":[0]},{"id":"1:5","name":"Rectangle
        1","type":"VECTOR","scrollBehavior":"SCROLLS","blendMode":"PASS_THROUGH","absoluteBoundingBox":{"x":-339.0,"y":-9.0,"width":268.0,"height":71.0},"absoluteRenderBounds":{"x":-339.0,"y":-9.0,"width":268.0,"height":71.0},"constraints":{"vertical":"TOP","horizontal":"LEFT"},"fills":[{"blendMode":"NORMAL","type":"SOLID","color":{"r":0.78358334302902222,"g":1.0,"b":0.77916663885116577,"a":1.0}}],"strokes":[],"strokeWeight":1.0,"strokeAlign":"INSIDE","effects"[...]
