---
http_interactions:
- request:
    method: post
    uri: https://api.figma.com/v1/oauth/refresh
    body:
      encoding: UTF-8
      string: refresh_token=foobar
    headers:
      Authorization:
      - Basic YVplNDB3VXV5ODZ2TUF3d1hCbVlxMzpLMWtSUFJpbFJDNTNoc3NFTVZEWXlmamVRYkNyc1I=
      Content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":true,"status":400,"message":"invalid_grant","i18n":null}'
  recorded_at: Sat, 02 Nov 2024 00:38:06 GMT
recorded_with: VCR 6.1.0
