---
http_interactions:
- request:
    method: get
    uri: https://api.figma.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - Bearer <FIGMA_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"1186844228047072104","email":"nick@campsite.design","handle":"Nick
        Holden","img_url":"https://www.gravatar.com/avatar/f69657b76af36cdbb1f78ae73437d306?size=240&default=https%3A%2F%2Fs3-alpha.figma.com%2Fstatic%2Fuser_n_v2.png"}'
  recorded_at: Wed, 27 Sep 2023 23:05:02 GMT
recorded_with: VCR 6.1.0
