---
http_interactions:
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"\n        mutation IssueCreate {\n          issueCreate(\n            input:
        {\n              teamId: \"f032f417-c15a-4b9b-b82c-d4e880b1c396\",\n              title:
        \"Test title\",\n              description: \"\"\"Test description\"\"\",\n              createAsUser:
        \"Harry Potter\",\n              displayIconUrl: \"http://campsite-test.imgix.net/static/avatars/H.png?blend-color=9333ea&fit=crop&h=80&w=80\",\n            }\n          )
        {\n            success\n            issue {\n              id\n              title\n              url\n              identifier\n              description\n              state
        {\n                id\n                name\n                type\n                color\n              }\n            }\n          }\n        }\n      "}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "<LINEAR_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"154-Zm+6Vfi03ir4aKYX8uqqxVk/jjc"
      x-complexity:
      - '4'
      x-ratelimit-complexity-limit:
      - '1000000'
      x-ratelimit-complexity-remaining:
      - '999996'
      x-ratelimit-complexity-reset:
      - '1722633258540'
      x-ratelimit-requests-limit:
      - '1200'
      x-ratelimit-requests-remaining:
      - '1199'
      x-ratelimit-requests-reset:
      - '1722633258540'
    body:
      encoding: UTF-8
      string: '{"data":{"issueCreate":{"success":true,"issue":{"id":"090b8c55-e23b-416b-b328-c486832142ea","title":"Test
        title","url":"https://linear.app/campsite/issue/CAM-9344/test-title","identifier":"CAM-9344","description":"Test
        description","state":{"id":"31be71ac-2055-4152-acfe-d8e92a789733","name":"Triage","type":"triage","color":"#FC7840"}}}}}

        '
  recorded_at: Fri, 02 Aug 2024 20:14:18 GMT
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"\n        mutation AttachmentCreate($issueId: String!, $title:
        String!, $subtitle: String, $url: String!) {\n          attachmentCreate(\n            input:
        {\n              issueId: $issueId,\n              title: $title,\n              subtitle:
        $subtitle,\n              url: $url,\n            }\n          ) {\n            success\n            attachment
        {\n              id\n            }\n          }\n        }\n      ","variables":{"issueId":"090b8c55-e23b-416b-b328-c486832142ea","title":"Look
        at these designs (Comment)","subtitle":"gimme some feedback","url":"http://app.campsite.test:3000/org-1/posts/z5u773yan63q#comment-44dup4e4gewl"}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "<LINEAR_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6a-j1foxZ910qNmFlL9Y5r1dLZWDAE"
      x-complexity:
      - '3'
      x-ratelimit-complexity-limit:
      - '1000000'
      x-ratelimit-complexity-remaining:
      - '999997'
      x-ratelimit-complexity-reset:
      - '1722633259030'
      x-ratelimit-requests-limit:
      - '1200'
      x-ratelimit-requests-remaining:
      - '1198'
      x-ratelimit-requests-reset:
      - '1722633259030'
    body:
      encoding: UTF-8
      string: '{"data":{"attachmentCreate":{"success":true,"attachment":{"id":"e61a4997-1aeb-4c33-8851-1833bdc05e12"}}}}

        '
  recorded_at: Fri, 02 Aug 2024 20:14:19 GMT
recorded_with: VCR 6.1.0
