---
http_interactions:
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"\n        mutation IssueCreate {\n          issueCreate(\n            input:
        {\n              teamId: \"f032f417-c15a-4b9b-b82c-d4e880b1c396\",\n              title:
        \"Test title\",\n              description: \"\"\"Test description\"\"\",\n              createAsUser:
        \"Harry Potter\",\n              displayIconUrl: \"http://campsite-test.imgix.net/static/avatars/H.png?blend-color=9333ea&fit=crop&h=80&w=80\",\n            }\n          )
        {\n            success\n            issue {\n              id\n              title\n              url\n              identifier\n              description\n              state
        {\n                id\n                name\n                type\n                color\n              }\n            }\n          }\n        }\n      "}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "<LINEAR_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"154-OdRUjHAFaVL3ugYPzeIl+4ZtpvQ"
      x-complexity:
      - '4'
      x-ratelimit-complexity-limit:
      - '1000000'
      x-ratelimit-complexity-remaining:
      - '999996'
      x-ratelimit-complexity-reset:
      - '1722373472894'
      x-ratelimit-requests-limit:
      - '1200'
      x-ratelimit-requests-remaining:
      - '1199'
      x-ratelimit-requests-reset:
      - '1722373472894'
    body:
      encoding: UTF-8
      string: '{"data":{"issueCreate":{"success":true,"issue":{"id":"abbe2c49-e0da-4a3f-a6fb-d09f57ffe863","title":"Test
        title","url":"https://linear.app/campsite/issue/CAM-9266/test-title","identifier":"CAM-9266","description":"Test
        description","state":{"id":"31be71ac-2055-4152-acfe-d8e92a789733","name":"Triage","type":"triage","color":"#FC7840"}}}}}

        '
  recorded_at: Tue, 30 Jul 2024 20:04:33 GMT
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"\n        mutation AttachmentCreate($issueId: String!, $title:
        String!, $subtitle: String, $url: String!) {\n          attachmentCreate(\n            input:
        {\n              issueId: $issueId,\n              title: $title,\n              subtitle:
        $subtitle,\n              url: $url,\n            }\n          ) {\n            success\n            attachment
        {\n              id\n            }\n          }\n        }\n      ","variables":{"issueId":"abbe2c49-e0da-4a3f-a6fb-d09f57ffe863","title":"Look
        at these designs","subtitle":"best designs ever","url":"http://app.campsite.test:3000/org-1/posts/yal2w25rwk21"}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "<LINEAR_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6a-gHc/5Zj7zY4Xxgr4VRzaaBg0z7E"
      x-complexity:
      - '3'
      x-ratelimit-complexity-limit:
      - '1000000'
      x-ratelimit-complexity-remaining:
      - '999997'
      x-ratelimit-complexity-reset:
      - '1722373473632'
      x-ratelimit-requests-limit:
      - '1200'
      x-ratelimit-requests-remaining:
      - '1198'
      x-ratelimit-requests-reset:
      - '1722373473632'
    body:
      encoding: UTF-8
      string: '{"data":{"attachmentCreate":{"success":true,"attachment":{"id":"caf9b2e8-c0de-4947-97fb-05d69464e78b"}}}}

        '
  recorded_at: Tue, 30 Jul 2024 20:04:33 GMT
recorded_with: VCR 6.1.0
