---
http_interactions:
  - request:
      method: post
      uri: https://api.linear.app/graphql
      body:
        encoding: UTF-8
        string: '{"query":"\n        query GetIssue {\n          issue(\n            id:
          \"CAM-8735\",\n          ) {\n            identifier\n            description\n            state
          {\n              id\n              color\n              name\n              type\n            }\n          }\n        }\n      "}'
      headers:
        Content-type:
          - application/json
        Authorization:
          - '<LINEAR_TOKEN>'
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"189-vt1J85dG8NSmFrWl6YhmCEnaaYQ"
        x-complexity:
          - '3'
        x-ratelimit-complexity-limit:
          - '1000000'
        x-ratelimit-complexity-remaining:
          - '999997'
        x-ratelimit-complexity-reset:
          - '1720832428690'
        x-ratelimit-requests-limit:
          - '1200'
        x-ratelimit-requests-remaining:
          - '1199'
        x-ratelimit-requests-reset:
          - '1720832428690'
      body:
        encoding: UTF-8
        string: '{"data":{"issue":{"identifier":"CAM-8735","title":"hello world","description":"If someone
          mentions a Campsite URL in a Linear comment and that Campsite organization
          has an active Linear integration, we should create a backlink for that post
          or comment. \"Mentioned in a comment on \\[issue title\\]\"","state":{"id":"6209ad38-272d-4ae4-9c0a-43d785b2f75b","color":"#f2c94c","name":"In
          Progress","type":"started"}}}}

          '
    recorded_at: Sat, 13 Jul 2024 00:00:28 GMT
recorded_with: VCR 6.1.0
