---
http_interactions:
  - request:
      method: post
      uri: https://api.linear.app/graphql
      body:
        encoding: UTF-8
        string: '{"query":"query {\n  organization {\n    id\n  }\n}\n"}'
      headers:
        Content-type:
          - application/json
        Authorization:
          - some-token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        x-complexity:
          - '2'
        x-ratelimit-complexity-limit:
          - '1000000'
        x-ratelimit-complexity-remaining:
          - '999998'
        x-ratelimit-complexity-reset:
          - '1685045064818'
        x-ratelimit-requests-limit:
          - '500'
        x-ratelimit-requests-remaining:
          - '499'
        x-ratelimit-requests-reset:
          - '1685045064818'
        etag:
          - W/"48-JN5xbe9Ed3OKb5BPeDJbp0bU5kk"
      body:
        encoding: UTF-8
        string: '{"data":{"organization":{"id":"linear-organization-id"}}}
          '
    recorded_at: Thu, 25 May 2023 19:04:24 GMT
recorded_with: VCR 6.1.0
