---
http_interactions:
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"{nope}"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "<LINEAR_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d2-MOxc7ajzoHuruQzyM8QiSEOuWac"
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Cannot query field \"nope\" on type \"Query\".","locations":[{"line":1,"column":2}],"extensions":{"code":"GRAPHQL_VALIDATION_FAILED","type":"graphql
        error","userError":true,"meta":{}}}]}

        '
  recorded_at: Tue, 26 Sep 2023 16:35:35 GMT
recorded_with: VCR 6.1.0
