---
http_interactions:
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"{\n          teams(first: 1) {\n            nodes {\n              name\n            }\n          }\n        }"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "<LINEAR_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-complexity:
      - '2'
      x-ratelimit-complexity-limit:
      - '1000000'
      x-ratelimit-complexity-remaining:
      - '999998'
      x-ratelimit-complexity-reset:
      - '1695749735777'
      x-ratelimit-requests-limit:
      - '500'
      x-ratelimit-requests-remaining:
      - '499'
      x-ratelimit-requests-reset:
      - '1695749735777'
      etag:
      - W/"3b-PpraV2BcqqHBfqDP3qjatILl8E0"
    body:
      encoding: UTF-8
      string: '{"data":{"teams":{"nodes":[{"name":"Product engineer"}]}}}

        '
  recorded_at: Tue, 26 Sep 2023 16:35:35 GMT
recorded_with: VCR 6.1.0
