---
http_interactions:
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"{ viewer { id } }"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - bad-token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fa-D6JWzDDRqIRUOk1O3gDRuI97VYE"
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Authentication required, not authenticated","extensions":{"code":"AUTHENTICATION_ERROR","type":"authentication
        error","userError":true,"userPresentableMessage":"You need to authenticate
        to access this operation.","meta":{}}}]}

        '
  recorded_at: Tue, 26 Sep 2023 16:35:35 GMT
recorded_with: VCR 6.1.0
