---
http_interactions:
- request:
    method: get
    uri: https://www.theverge.com/2024/5/29/24166341/apple-home-floor-plan-controller-for-homekit-app-launch-hands-on
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - '"hm7lzoi6fv5nt7"'
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html><html lang="en"><head><meta charSet="utf-8"/><meta name="twitter:card" content="summary_large_image"/><meta name="twitter:site" content="@verge"/><meta property="fb:app_id" content="549923288395304"/><meta property="og:site_name" content="The Verge"/><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/><meta name="apple-mobile-web-app-title" content="Verge"/><meta name="google-site-verification" content="IucFf_TKtbFFH8_YeFyEteQIwYPdANM1R46_U9DpAr4"/><link rel="alternate" type="application/rss+xml" title="The Verge" href="/rss/index.xml"/><title>Hands-on with the new map view feature for Apple Home users - The Verge</title><meta name="robots" content="index,follow,max-image-preview:large"/><meta name="description" content="Controller for HomeKit app launches a new Floor Plan that lets you control Apple Home smart home devices on a map-like view of your home."/><meta property="og:title" content="This app put my Apple Home smart devices into an interactive map"/><meta property="og:description" content="This app turned my Apple smart home [...]
